<div class="jumbotron">
  <div class="row">
    <% unless @user.omniauth? %>
      <div class="col-xs-6 center-block">
        <%= image_tag('octocat.png', calss: 'img-responsive', size: '40x40') %>
        <%= link_to button_tag('Sign up via Github', class: 'btn btn-primary'), '/auth/github' %>
      </div>
        <div class="col-xs-4 col-xs-offset-2">
          <h1>Signup</h1>
        </div>
    <% else %>
      <div class="col-xs-10 col-xs-offset-2 center-block">
        <h1>Verify Details</h1>
    <% end %>


    <%= render 'users/form' %>

    <%= link_to users_path, :class => 'btn btn-default col-sm-offset-2' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>

      </div>
  </div>
</div>


